@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BirthdayChecker - Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <br />
        <p>Today it's @ViewBag.StateDate and currently it is @ViewBag.StateTime.</p>
        <a asp-action="BirthdateForm">Calculate how many days remain until my birthday.</a>
    </div>
</body>
</html>